server {
    index index.php index.html;
    server_name {{ .Env.nginx_host1 }};
    error_log  /var/log/nginx/{{ .Env.nginx_host1 }}_error.log;
    access_log /var/log/nginx/{{ .Env.nginx_host1 }}_access.log;
    root '{{ .Env.webroot1 }}';
    listen {{ .Env.nginx_port1 }};

    location ~ \.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass {{ .Env.proj_name }}-phpfpm:9000;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }
}
